@media all{
  @media all{
  body,div,span,h1,h6,p,form,label{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
  .clear{clear:both;}
  body{background:url(../../background-login.jpg)no-repeat;background-attachment:fixed;background-position:center;background-size:cover;-webkit-background-size:cover;-moz-background-size:cover;-o-background-size:cover;padding:0;margin:0;font-family:roboto condensed,sans-serif;font-size:100%;}
  h1,h6{margin:0;}
  p{margin:0;}
  label{margin:0;}
  .header-main{padding:100px 0 50px;width:30%;margin:0 auto;}
  .header-main h1{font-size:64px;color:#fff;text-align:center;padding-bottom:.8em;}
  .header-left-bottom input[type=text]{background:url(../../user.png)no-repeat 0px 5px;outline:none;font-size:15px;font-weight:400;color:#fff;padding:12px 13px 20px 44px;border:none;border-bottom:1px solid #fff;width:87%;margin:0 0 20px;display:inline-block;}
  .header-left-bottom input[type=password]{background:url(../../lock.png)no-repeat 0px 5px;outline:none;font-size:15px;font-weight:400;color:#fff;border:none;border-bottom:1px solid #fff;padding:12px 13px 20px 44px;width:87%;margin:0 0 20px;display:inline-block;}
  .header-left-bottom button[type=submit]{background:#f36;color:#fff;font-size:26px;padding:.3em 1.2em;width:100%;font-weight:500;transition:.5s all;-webkit-transition:.5s all;-moz-transition:.5s all;-o-transition:.5s all;display:inline-block;cursor:pointer;outline:none;border:none;border-radius:3px;font-family:roboto condensed,sans-serif;}
  .header-left-bottom button[type=submit]:hover{background:#b5183f;transition:.5s all;-webkit-transition:.5s all;-moz-transition:.5s all;-o-transition:.5s all;}
  .remember{margin:1em 0;}
  .forgot{float:right;}
  .forgot h6{font-size:1em;margin-top:.2em;}
  .clear{clear:both;}
  .copyright{padding:30px 0;text-align:center;}
  .copyright p{font-size:16px;font-weight:400;color:#fff;}
  @media (max-width:1440px){
  .header-main{width:33%;}
  }
  @media (max-width:1366px){
  .header-main{width:35%;}
  }
  @media (max-width:1280px){
  .header-main{width:38%;}
  }
  @media (max-width:1024px){
  .header-main{width:46%;}
  .header-main h1{font-size:63px;}
  }
  @media (max-width:991px){
  .header-main{width:48%;}
  }
  @media (max-width:800px){
  .header-main{width:60%;}
  }
  @media (max-width:768px){
  .header-main{width:61%;}
  }
  @media (max-width:736px){
  .header-main{width:65%;}
  }
  @media (max-width:667px){
  .header-main h1{font-size:60px;}
  .header-main{width:67%;}
  }
  @media (max-width:640px){
  .header-main h1{padding-bottom:1.1em;}
  .header-main{width:70%;}
  }
  @media (max-width:600px){
  .header-main h1{font-size:56px;}
  }
  @media (max-width:568px){
  .header-main{width:80%;}
  }
  @media (max-width:480px){
  .header-main{padding:60px 0 30px;}
  .header-main h1{font-size:45px;}
  .header-left-bottom input[type=text]{width:83%;}
  .header-left-bottom input[type=password]{width:83%;}
  .header-main{width:73%;}
  .header-left-bottom button[type=submit]{font-size:22px;}
  }
  @media (max-width:414px){
  .header-left-bottom input[type=text]{width:80%;}
  .header-left-bottom input[type=password]{width:80%;}
  .header-main{width:75%;}
  .header-left-bottom button[type=submit]{font-size:20px;}
  .header-main{padding:60px 0 12px;}
  .header-main h1{font-size:42px;}
  }
  @media (max-width:384px){
  .header-main h1{font-size:38px;}
  }
  @media (max-width:375px){
  .header-main{width:78%;}
  .copyright{padding:19px 13px;text-align:center;}
  }
  @media (max-width:320px){
  .header-main{width:85%;}
  .header-main{padding:25px 0 15px;}
  .header-left-bottom input[type=text]{padding:12px 13px 15px 44px;width:77%;}
  .header-left-bottom input[type=password]{padding:12px 13px 15px 44px;width:77%;}
  .header-main h1{font-size:36px;}
  .header-left-bottom button[type=submit]{font-size:19px;}
  .forgot h6{font-size:.9em;}
  .copyright p{font-size:15px;}
  .header-main h1{padding-bottom:1em;}
  .remember{margin:.5em 0;}
  .copyright{padding:10px 6px 0;}
  .header-left-bottom input[type=password]{margin:0 0 17px;}
  .header-left-bottom input[type=text]{margin:0 0 17px;}
  }
  }
  }
  /*! CSS Used fontfaces */
  @font-face{font-family:roboto condensed;font-style:normal;font-weight:400;src:local('Roboto Condensed'),local('RobotoCondensed-Regular'),url(https://fonts.gstatic.com/s/robotocondensed/v16/ieVl2ZhZI2eCN5jzbjEETS9weq8-19-7DRs5.woff2) format('woff2');unicode-range:U+0460-052F,U+1C80-1C88,U+20B4,U+2DE0-2DFF,U+A640-A69F,U+FE2E-FE2F;}
  @font-face{font-family:roboto condensed;font-style:normal;font-weight:400;src:local('Roboto Condensed'),local('RobotoCondensed-Regular'),url(https://fonts.gstatic.com/s/robotocondensed/v16/ieVl2ZhZI2eCN5jzbjEETS9weq8-19a7DRs5.woff2) format('woff2');unicode-range:U+0400-045F,U+0490-0491,U+04B0-04B1,U+2116;}
  @font-face{font-family:roboto condensed;font-style:normal;font-weight:400;src:local('Roboto Condensed'),local('RobotoCondensed-Regular'),url(https://fonts.gstatic.com/s/robotocondensed/v16/ieVl2ZhZI2eCN5jzbjEETS9weq8-1967DRs5.woff2) format('woff2');unicode-range:U+1F00-1FFF;}
  @font-face{font-family:roboto condensed;font-style:normal;font-weight:400;src:local('Roboto Condensed'),local('RobotoCondensed-Regular'),url(https://fonts.gstatic.com/s/robotocondensed/v16/ieVl2ZhZI2eCN5jzbjEETS9weq8-19G7DRs5.woff2) format('woff2');unicode-range:U+0370-03FF;}
  @font-face{font-family:roboto condensed;font-style:normal;font-weight:400;src:local('Roboto Condensed'),local('RobotoCondensed-Regular'),url(https://fonts.gstatic.com/s/robotocondensed/v16/ieVl2ZhZI2eCN5jzbjEETS9weq8-1927DRs5.woff2) format('woff2');unicode-range:U+0102-0103,U+0110-0111,U+1EA0-1EF9,U+20AB;}
  @font-face{font-family:roboto condensed;font-style:normal;font-weight:400;src:local('Roboto Condensed'),local('RobotoCondensed-Regular'),url(https://fonts.gstatic.com/s/robotocondensed/v16/ieVl2ZhZI2eCN5jzbjEETS9weq8-19y7DRs5.woff2) format('woff2');unicode-range:U+0100-024F,U+0259,U+1E00-1EFF,U+2020,U+20A0-20AB,U+20AD-20CF,U+2113,U+2C60-2C7F,U+A720-A7FF;}
  @font-face{font-family:roboto condensed;font-style:normal;font-weight:400;src:local('Roboto Condensed'),local('RobotoCondensed-Regular'),url(https://fonts.gstatic.com/s/robotocondensed/v16/ieVl2ZhZI2eCN5jzbjEETS9weq8-19K7DQ.woff2) format('woff2');unicode-range:U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+2000-206F,U+2074,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD;}
  @font-face{font-family:roboto condensed;font-style:normal;font-weight:700;src:local('Roboto Condensed Bold'),local('RobotoCondensed-Bold'),url(https://fonts.gstatic.com/s/robotocondensed/v16/ieVi2ZhZI2eCN5jzbjEETS9weq8-32meGCkYb8td.woff2) format('woff2');unicode-range:U+0460-052F,U+1C80-1C88,U+20B4,U+2DE0-2DFF,U+A640-A69F,U+FE2E-FE2F;}
  @font-face{font-family:roboto condensed;font-style:normal;font-weight:700;src:local('Roboto Condensed Bold'),local('RobotoCondensed-Bold'),url(https://fonts.gstatic.com/s/robotocondensed/v16/ieVi2ZhZI2eCN5jzbjEETS9weq8-32meGCAYb8td.woff2) format('woff2');unicode-range:U+0400-045F,U+0490-0491,U+04B0-04B1,U+2116;}
  @font-face{font-family:roboto condensed;font-style:normal;font-weight:700;src:local('Roboto Condensed Bold'),local('RobotoCondensed-Bold'),url(https://fonts.gstatic.com/s/robotocondensed/v16/ieVi2ZhZI2eCN5jzbjEETS9weq8-32meGCgYb8td.woff2) format('woff2');unicode-range:U+1F00-1FFF;}
  @font-face{font-family:roboto condensed;font-style:normal;font-weight:700;src:local('Roboto Condensed Bold'),local('RobotoCondensed-Bold'),url(https://fonts.gstatic.com/s/robotocondensed/v16/ieVi2ZhZI2eCN5jzbjEETS9weq8-32meGCcYb8td.woff2) format('woff2');unicode-range:U+0370-03FF;}
  @font-face{font-family:roboto condensed;font-style:normal;font-weight:700;src:local('Roboto Condensed Bold'),local('RobotoCondensed-Bold'),url(https://fonts.gstatic.com/s/robotocondensed/v16/ieVi2ZhZI2eCN5jzbjEETS9weq8-32meGCsYb8td.woff2) format('woff2');unicode-range:U+0102-0103,U+0110-0111,U+1EA0-1EF9,U+20AB;}
  @font-face{font-family:roboto condensed;font-style:normal;font-weight:700;src:local('Roboto Condensed Bold'),local('RobotoCondensed-Bold'),url(https://fonts.gstatic.com/s/robotocondensed/v16/ieVi2ZhZI2eCN5jzbjEETS9weq8-32meGCoYb8td.woff2) format('woff2');unicode-range:U+0100-024F,U+0259,U+1E00-1EFF,U+2020,U+20A0-20AB,U+20AD-20CF,U+2113,U+2C60-2C7F,U+A720-A7FF;}
  @font-face{font-family:roboto condensed;font-style:normal;font-weight:700;src:local('Roboto Condensed Bold'),local('RobotoCondensed-Bold'),url(https://fonts.gstatic.com/s/robotocondensed/v16/ieVi2ZhZI2eCN5jzbjEETS9weq8-32meGCQYbw.woff2) format('woff2');unicode-range:U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+2000-206F,U+2074,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD;}
